---
title: Le Wagon Middleman boilerplate
---

<div class="welcome text-center padded">
  <h1>Welcome to Middleman</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p>
</div>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 101, 168, 0.6) 0%, rgba(0, 36, 61, 0.6) 50%), url('images/background.jpg');">
      <div></div>
      <div class="banner-content">
        <h1>Banner title</h1>
        <p>blalblabla</p>
        <!-- <a href="#" class="btn btn-primary btn-lg">enter</a> -->
        <%= link_to 'enter', '#', class:"btn btn-primary btn-lg" %>

      </div>
    </div>

    <div class="container">
      <div class="features text-center padded">
        <div class="row">
          <% data.features.each do |feature| %>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= image_tag feature.picture %>
            <h2><%= feature.feature_head %></h2>
            <p><%= feature.description%></p>
          </div>
          <% end %>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <% data.user_flats.each do |user, info|%>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 50%), url('images/card-paris.jpg');">
          <div class="card-category"><%=info.city%></div>
          <div class="card-description">
            <h3><%=info.flat_name%></h3>
            <p><%=info.flat_description %></p>
          </div>
          <%= image_tag info.picture, class:"card-user avatar" %>
          <%= link_to '', '#', class:"card-link" %>
          </div>
        </div>
        <%end%>

    <div id="newsletter" class="text-center padded">
      <h2>Get news from us</h2>
      <p>Leave us your mail and get news from us!</p>
      <form class="form-inline">
        <input type="email" class="form-control" placeholder="un email abruti!">
        <button type="submit" class="btn btn-warning">touch!</button>
      </form>
    </div>

    <div id="map" style="width: 100%; height: 550px;">

      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

      <script type="text/javascript">
        var myLatlng = new google.maps.LatLng(48.8655909, 2.378983);

        var myOptions = {
          zoom: 16,
          center: myLatlng,
          scrollwheel: false,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          styles: [] // TODO: replace [] by array from https://snazzymaps.com/
        };

        var map = new google.maps.Map(document.getElementById('map'), myOptions);
        var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: "You are here!"
        });
      </script>
    </div>





